body {
   background-color: rgb(255, 255, 255);
   min-width: fit-content;

}


.site-header {
   min-height: min-content;
   border: 2px solid black;
   
}

.container .card .btn.btn-outline-warning{
   color: #9D1FFF;
   border-color:#9D1FFF;
   font-weight: bold;
}

.container .card .btn.btn-outline-warning:hover{
   background-color: #9D1FFF;
   border-color:#9D1FFF;
   color: black;
   font-weight: bold;
}

.site-header .navbar-nav .nav-welcome {
   color: white;
   font-size: 6px;
   min-width: 0px;
   min-height: 80px;
   margin-right: 3px;
   border: 1px dashed rgba(219, 128, 128, 0.822);

}

.card.d-inline-flex.align-items-center{
   border: none;
   border-color: none;
}

.card.d-inline-flex.align-items-center:hover {
   box-shadow: inset 0 0 6px 1px black;
}

.navbar-nav li.nav-welcome {
   text-align: center;
}

.site-header .navbar-nav .nav-link {
   color: rgb(187, 180, 180);
   font-size: 20px;
 }
 
 .site-header .navbar-nav .nav-link:hover {
   color: rgb(157, 31, 255);
   font-size: 23px;
 }
 
 .site-header .navbar-nav .nav-link.active {
   font-weight: 500;
 }

.content-section {
   background-color: whitesmoke;
   border: .5px solid rgb(73, 72, 72);
   padding: 2rem;
   font-weight: 500;
}

.account-img {
   height: 175px;
   width: 175px;
   margin-right: 20px;
   margin-bottom: 16px;
}
