{% extends "index.html" %}

{% block content  %}
<div class="container mt-3">
   <h2 class="text-center">All FOS Accounts</h2>
   {% for fse in fos %}
   <div class="card d-inline-flex m-3 align-items-center" style="width: 18rem; height: 21rem;">
      <div class="mt-3">
         <img class="rounded-circle account-img"
            src="{{ url_for("static", filename="profile_pics/" + fse.image_file) }}">
      </div>
      <div class="card-body text-center min">
         <h5 class="card-title">{{fse.username}}</h5>
         <!-- <p class="card-text"><strong>Latest Debt - {{ hisaab.latest_debt  }}</strong></p>
         <p class="card-text"><strong>Net Sale - {{ hisaab.net_sale  }}</strong></p>
         <p class="card-text"><strong>Last login - {{ hisaab.date  }}</strong></p> -->
         {% if fse == current_user %}
         <a href="{{ url_for('hisaab') }}" class="btn btn-primary mt-2">Hisaab</a>
         <a href="{{ url_for('report') }}" class="btn btn-primary mt-2">Report</a>
         {% endif %}
      </div>
   </div>
   {% endfor %}
</div>
{% endblock content %}