{% extends "index.html" %}

{% block content  %}
<div class="container-fluid text-center mt-2">
   {% if current_user.username == admin %}
   <legend class="font-weight-bold mb-1">Master - Report</legend>
   <table class="table">
      <thead class="thead-dark">
         <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Opening</th>
            <th scope="col">Primary</th>
            <th scope="col">Manual</th>
            <th scope="col">Auto</th>
            <th scope="col">Total Transfer</th>
            <th scope="col">Closing</th>
            <th scope="col">Fos Balance</th>
            <th scope="col">Partner Master</th>
            <th scope="col">Calculated Master</th>
            <th scope="col">Diff in Master</th>
            <th scope="col">Remarks</th>
         </tr>
      </thead>
      <tbody>
         {% for master in master.items %}
         <tr>
            <th scope="row">{{ master.id }}</th>
            <td>
               <a class="btn btn-outline-secondary"
                  href="{{ url_for('single_master', master_id=master.id) }}">{{ master.date.strftime("%d-%m-%Y %H:%M") }}</a>
            </td>
            <td><strong>{{ master.open_bal }}</strong></td>
            <td>{{ master.primary }}</td>
            <td>{{ master.manual_trans }}</td>
            <td>{{ master.auto_trans }}</td>
            <td>{{ master.total_trans }}</td>
            <td><strong>{{ master.closing }}</strong></td>
            <td>{{ master.fos_bal }}</td>
            <td>{{ master.master_bal }}</td>
            <td>{{ master.calc_master_bal }}</td>
            <td>{{ master.master_diff }}</td>
            <td>{{ master.remarks }}</td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
   {% for page_num in master.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=3) %}
   {% if page_num %}
   {% if master.page == page_num %}
   <a class="btn btn-info mb-4" href="{{ url_for('master_report', page=page_num) }}">{{ page_num }}</a>
   {% else %}
   <a class="btn btn-outline-info mb-4" href="{{ url_for('master_report', page=page_num) }}">{{ page_num }}</a>
   {% endif %}
   {% else %}
   ...
   {% endif %}
   {% endfor %}
   {% else %}
   <div class="content-section text-center mt-4">
      <h1><strong>Contact Your Admin!!</strong></h1>
   </div>
   {% endif %}
</div>
{% endblock content %}