{% extends "index.html" %}

{% block content  %}
<div class="container-fluid text-center mt-2">
   {% if current_user.username == admin %}
   <legend class="font-weight-bold mb-1">FOS's - Report</legend>
   <table class="table">
      <thead class="thead-dark">
         <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Opening</th>
            <th scope="col">Manual</th>
            <th scope="col">Auto</th>
            <th scope="col">Total Transfer</th>
            <th scope="col">Closing</th>
            <th scope="col">Total Sale</th>
            <th scope="col">Commission Value</th>
            <th scope="col">Net Sale</th>
            <th scope="col">Last Debt</th>
            <th scope="col">Amount Deposit</th>
            <th scope="col">Latest Debt</th>
            <th scope="col">Remarks</th>
            <th scope="col">FOS</th>
         </tr>
      </thead>
      <tbody>
         {% for hisaab in hisaab.items %}
         <tr>
            <th scope="row">{{ hisaab.id }}</th>
            <td><a class="btn btn-outline-secondary"
                  href="{{ url_for('hisaab.single_hisaab', hisaab_id=hisaab.id) }}">{{ hisaab.date.strftime("%d-%m-%Y %H:%M") }}</a>
            </td>
            <td><strong>{{ hisaab.open_bal }}</strong></td>
            <td>{{ hisaab.manual_trans }}</td>
            <td>{{ hisaab.auto_trans }}</td>
            <td>{{ hisaab.total_trans }}</td>
            <td><strong>{{ hisaab.closing }}</strong></td>
            <td>{{ hisaab.total_sale }}</td>
            <td>{{ hisaab.commission_value }}</td>
            <td>{{ hisaab.net_sale }}</td>
            <td><strong>{{ hisaab.last_debt }}</strong></td>
            <td>{{ hisaab.amt_received }}</td>
            <td><strong>{{ hisaab.latest_debt }}</strong></td>
            <td>{{ hisaab.remarks }}</td>
            <td><a class="btn btn-outline-info"
                  href="{{ url_for('users.user_hisaab', username=hisaab.fos.username) }}">{{ hisaab.fos.username }}</a>
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
   {% for page_num in hisaab.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=3) %}
   {% if page_num %}
   {% if hisaab.page == page_num %}
   <a class="btn btn-info mb-4" href="{{ url_for('hisaab.report', page=page_num) }}">{{ page_num }}</a>
   {% else %}
   <a class="btn btn-outline-info mb-4" href="{{ url_for('hisaab.report', page=page_num) }}">{{ page_num }}</a>
   {% endif %}
   {% else %}
   ...
   {% endif %}
   {% endfor %}
   {% endif %}
</div>
{% endblock content %}