{% extends "index.html" %}

{% block content  %}
<div class="container-fluid text-center mt-2">
   <legend class=" font-weight-bold mb-1">{{ hisaab.date.strftime("%d-%m-%Y") }}-Hisaab of {{ hisaab.fos.username }}
   </legend>
   <div>
      <a href="{{ url_for('update_hisaab', hisaab_id=hisaab.id) }}" class="btn btn-secondary btn-sm m-2">Update</a>
      <button type="button" class="btn btn-danger btn-sm m-2" data-toggle="modal"
         data-target="#deleteModal">Delete</button>
   </div>
   <table class="table">
      <thead class="thead-dark">
         <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Opening</th>
            <th scope="col">Manual</th>
            <th scope="col">Auto</th>
            <th scope="col">Total Transfer</th>
            <th scope="col">Closing</th>
            <th scope="col">Total Sale</th>
            <th scope="col">Commission Value</th>
            <th scope="col">Net Sale</th>
            <th scope="col">Last Debt</th>
            <th scope="col">Amount Deposit</th>
            <th scope="col">Latest Debt</th>
            <th scope="col">Remarks</th>
            <th scope="col">FOS</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <th scope="row">{{ hisaab.id }}</th>
            <td>{{ hisaab.date.strftime("%d-%m-%Y %H:%M") }}</td>
            <td>{{ hisaab.open_bal }}</td>
            <td>{{ hisaab.manual_trans }}</td>
            <td>{{ hisaab.auto_trans }}</td>
            <td>{{ hisaab.total_trans }}</td>
            <td>{{ hisaab.closing }}</td>
            <td>{{ hisaab.total_sale }}</td>
            <td>{{ hisaab.commission_value }}</td>
            <td>{{ hisaab.net_sale }}</td>
            <td>{{ hisaab.last_debt }}</td>
            <td>{{ hisaab.amt_received }}</td>
            <td>{{ hisaab.latest_debt }}</td>
            <td>{{ hisaab.remarks }}</td>
            <td><a class="btn btn-outline-info"
                  href="{{ url_for('user_hisaab', username=hisaab.fos.username) }}">{{ hisaab.fos.username }}</a></td>
         </tr>
      </tbody>
   </table>
   <!-- Modal -->
   <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="deleteModalLabel">Delete Hisaab?</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               Please Note: All data related to this hisaab will be deleted!
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <form action="{{ url_for('delete_hisaab', hisaab_id = hisaab.id) }}" method="POST">
                  <input class="btn btn-danger" type="submit" value="Delete">
               </form>
            </div>
         </div>
      </div>
   </div>
   {% endblock content %}